﻿@model List<AGLProgrammingChallenge.Model.OwnerGenderGroup>
@{
	ViewData["Title"] = "AGLProgrammingChallenge.WebUI Page";
}
<table class="table" border="1">
	<tbody>
		@foreach (var model in Model)//get Gender
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => model.Gender)
				</td>
				<td></td>
			</tr>
			@foreach (var owner in model.Owner.OrderBy(x => x.Name))//Get all owner for that gender
			{
				<tr>
					<td></td>
					<td>
						@Html.DisplayFor(modelItem => owner.Name)
					</td>
				</tr>				
			}
		}
	</tbody>
</table>